@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');
* {
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background-color: #333;
}

.nav {
  padding: 0.2em 5vw;
  align-items: center;
  justify-content: space-between;

  font-size: 1.2rem;
  font-family: "Ubuntu", sans-serif;
  background-color: black;

}

.logo {
  margin-right: 3em;
  align-items: center;
}

.logo img {
  height: 3.6rem;
}

.nav ul li {
  margin: 0 0.6rem;
}


.song-list-container {
  padding: 1em;
  margin:  2em auto;
  min-height: 70vh;
  width: 75%;
  border-radius: 15px;

  font-family: 'Varela Round', sans-serif;
  background-color: rgb(31, 50, 67);
 background-image: url('images/bg.jpg');
 background-repeat: no-repeat;
 background-size: cover;
 background-position: bottom;
}

.bottom {
  position: sticky;
  bottom: 0;
  height: 5.5em;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  background-color: black;
  color: white;
}

#progress-bar {
  width: 65vw;
}

.icons {
  margin-top: 0.5em;
}
.icons img {
  width: 3em;
}

#play-btn {
  margin: 0 1em;
}