@import url("https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap");
* {
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background-color: rgb(204, 200, 200);
}

.nav {
  padding: 0.2em 5vw;
  align-items: center;
  justify-content: space-between;

  font-size: 1.2rem;
  font-family: "Ubuntu", sans-serif;
  background-color: black;
}

.logo {
  margin-right: 3em;
  align-items: center;
}

.logo img {
  height: 3.6rem;
}

.nav ul li {
  margin: 0 0.6rem;
}

.song-list-container {
  padding: 1em;
  margin: 2em auto;
  min-height: 70vh;
  width: 75%;
  border-radius: 15px;

  font-family: "Varela Round", sans-serif;
  background-color: rgb(31, 50, 67);
  background-image: url("images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.song-item-container {
  margin: 2em 1em;
}

.song-item {
  margin-top: 0.6em;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  cursor: pointer;

  font-size: 1.1rem;
  background: rgba(230, 234, 239, 0.63);
  border: 1px solid black;
  border-radius: 2em;
}

.song-item:hover {
  background-color: rgba(135, 133, 133, 0.6);
  color: white;
}

.song-item .song-cover {
  height: 2.2em;
  border-radius: 12px 0 0 12px;
}

.song-item span {
  color: rgb(0, 0, 0);
}

.song-name {
  padding: 0 1em;
}

.time-stamp {
  padding-right: 0.5em;
}

.bottom {
  position: relative;
  position: sticky;
  bottom: 0;
  align-items: center;
  justify-content: center;
  height: 5.2em;
  flex-direction: column;

  background-color: black;
  color: white;
}

#progress-bar {
  margin: 0.3em 0;
  width: 65vw;
  height: 3px;

  border-radius: 4px;
  outline: none;
  border: none;
}

.icons {
  margin-top: 0.4em;
}

.icons img {
  width: 2.5em;
}

#play-btn {
  margin: 0 1em;
}

.song-info img {
  width: 3em;
}

.song-info {
  position: absolute;
  left: 17vw;
  align-items: center;

  font-family: "Ubuntu", sans-serif;
}

@media screen and (max-width: 45em) {
  .song-playing {
    display: none;
  }
  .song-info img {
    width: 2.8em;
  }
}
